.booking_hair{
    margin:1px 20px;
	display:block;
	text-align:center;
	background-color:#212121;
	padding:3px 0px;
	color:#FFF;
	width: 60%;
    margin: auto;
}
a:visited {
	/* color: #FFF; */
  }
.addres_and_info{
	background-color:#212121;
}
.info_text{
	color: white ;
}

.info_text, .icon{
	display:inline;
	vertical-align: top;
}

.info_box{
    height: 1vh;
	margin-bottom: 17px;
}
.h3{
	font-size: 2.4vh;
}
.main_info_box{
	color: #e9dede;
	background-color: #343a40;
    height: 100%;
	background-image: url('../image/bg/black-textured-brick-wall-background.jpg');
	background-image: url('../image/bg/3185113.jpg');
  	background-repeat: no-repeat;  
	background-size:cover;
	background-position:center;
	/* background: linear-gradient(170deg, #334b55 70%, #fc4410 30%); */
}
.main_info_tittle{
	text-align: center;
	/* background-color: #1f2326eb; */
	color: rgb(255, 252, 252);
	vertical-align: center;
	text-align: center;
	font-size:1.4rem;
}
/* .main_info_tittle h3{
	/* padding: 10px; 
}
.main_info_text{
	padding: 15px;
} */


.animated-box {
	font-family: 'Lato';
	color: #ffffff;
	padding: 30px;
	text-align: center;
	border-radius: 4px;
  }
  
  
  /* The animation starts here */
  .animated-box {
	position: relative;
  }
  
  .animated-box:after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	border-radius: 4px;
	background: linear-gradient(120deg, #00F260, #0575E6, #00F260);
	background-size: 300% 300%;
	clip-path: polygon(0% 100%, 3px 100%, 3px 3px, calc(100% - 3px) 3px, calc(100% - 3px) calc(100% - 3px), 3px calc(100% - 3px), 3px 100%, 100% 100%, 100% 0%, 0% 0%);
  }
  
  .animated-box.in:after {
	animation: frame-enter 1s forwards ease-in-out reverse, gradient-animation 4s ease-in-out infinite;
  }
  
  /* motion */
  @keyframes gradient-animation {
	0% {
	  background-position: 15% 0%;
	}
	50% {
	  background-position: 85% 100%;
	}
	100% {
	  background-position: 15% 0%;
	}
  }
  
  @keyframes frame-enter {
	0% {
	  clip-path: polygon(0% 100%, 3px 100%, 3px 3px, calc(100% - 3px) 3px, calc(100% - 3px) calc(100% - 3px), 3px calc(100% - 3px), 3px 100%, 100% 100%, 100% 0%, 0% 0%);
	}
	25% {
	  clip-path: polygon(0% 100%, 3px 100%, 3px 3px, calc(100% - 3px) 3px, calc(100% - 3px) calc(100% - 3px), calc(100% - 3px) calc(100% - 3px), calc(100% - 3px) 100%, 100% 100%, 100% 0%, 0% 0%);
	}
	50% {
	  clip-path: polygon(0% 100%, 3px 100%, 3px 3px, calc(100% - 3px) 3px, calc(100% - 3px) 3px, calc(100% - 3px) 3px, calc(100% - 3px) 3px, calc(100% - 3px) 3px, 100% 0%, 0% 0%);
	}
	75% {
	  -webkit-clip-path: polygon(0% 100%, 3px 100%, 3px 3px, 3px 3px, 3px 3px, 3px 3px, 3px 3px, 3px 3px, 3px 0%, 0% 0%);
	}
	100% {
	  -webkit-clip-path: polygon(0% 100%, 3px 100%, 3px 100%, 3px 100%, 3px 100%, 3px 100%, 3px 100%, 3px 100%, 3px 100%, 0% 100%);
	}
  }
  
@media (min-width: 992px){
	.main_info_container{
		max-height: 294px;
	}
}
.swiper-slide{
	background-color: #fff0;
}