{% extends 'base.html' %}

{% block content %}
<link rel="stylesheet" href="../static/style/booking.css">
<script src="https://www.google.com/recaptcha/api.js" async defer></script>
<script src="../static/js/booking.js"></script>
<script>
    var _price =[];
    {% for price_ in price %}
    {% comment %} <option value={{price_.id}}>{{price_.tittle}} {{price_.price}} Ft</option> {% endcomment %}
        var a = {id: "{{price_.id}}", tittle:"{{price_.tittle}}", price:"{{price_.price}}", barber_name:"{{price_.barber_name}}", time:"{{price_.time}}" }
        _price.push(a)
    {% endfor %}
 </script>
<div class="container" style="margin-top: 20px;">
    <div id="booking" class="section">
          <div class="section-center">
                <div class="container">
                    <div class="row">
                        <div class="booking-form">
                            <div class="form-header">
                                <h2>Időpontfoglalás</h2>
                            </div>
                            <form method="POST">
                                {% csrf_token %}
                                    <div class="form-group">
                                        <input class="form-control" value="{% if user.is_authenticated %}{{user.last_name}} {{user.first_name}}{%else%}{{name}}{%endif%}" name="name" type="text" placeholder="Név">   
                                    </div>
                                    <div class="form-group">
                                        <input class="form-control" value="{% if user.is_authenticated %}{{user.email}}{%else%}{{email}}{%endif%}" name="email" type="text" placeholder="E-mail-cím">
                                        <span class="form-label">E-mail-cím</span>
                                    </div>
                                    <div class="form-group">
                                        <input class="form-control" name="phone" type="text" placeholder="Telefonszám">
                                        <span class="form-label">Phone</span>
                                    </div>
                                    <div class="form-group"> 
                                        <select class="form-control" name="hairdresser_id" onchange="select_hairdresser(this.value)" required>
                                        <option value="" hidden>Válassz fodrászt</option>
                                            {% for hairdresser in hairdressers %}
                                                {%if hairdresser_id == hairdresser.id %}
                                                    <option selected value={{hairdresser.id}}>
                                                        {{hairdresser.name}}
                                                    </option> 
                                                {%else%}
                                                    <option value={{hairdresser.id}}>
                                                        {{hairdresser.name}}
                                                    </option>
                                                {% endif %}
                                            {% endfor %}
                                        </select>
                                        <span class="select-arrow"></span> 
                                        <span class="form-label">Adults</span> 
                                    </div> 
                                    <div class="form-group"> 
                                        <select class="form-control" id="price_list" name="category" required>
                                        <option value="" selected hidden>Válassz egy szolgáltatást</option>
                                        {% for price_ in price %}
                                            {%if categori_id == price_.id %}
                                                <option selected value={{price_.id}}>
                                                    {{price_.tittle}} {{price_.price}} Ft ({{price_.time}})
                                                </option> 
                                            {%endif%}
                                        {% endfor %}    
                                            {% comment %} {% for price_ in price %}
                                                <option value={{int(price_.id)}}>{{price_.tittle}} {{price_.price}} Ft({{price_.time}})</option>
                                            {% endfor %} {% endcomment %}
                                        </select>
                                        <span class="select-arrow"></span> 
                                        <span class="form-label">Adults</span> 
                                    </div>
                                    {% block calendar %}
                                    {% if categori_id != -1 %}
                                        <div id="calendar_container" style="display: block;">
                                            {% include 'Calendar.html' %}
                                        </div>
                                    {% else %}
                                        <div id="calendar_container">
                                            {% include 'Calendar.html' %}
                                        </div>
                                    {% endif %}
                                    {% endblock calendar %}
                                    <input class="form-control" id="date" name="date" type="text" placeholder="date">
                                    <input class="form-control" id="time" name="time" type="text" placeholder="time">
                                    <div class="row">
                                        <div class ="col-md-01 col-lg-2 col-xl-2"></div>
                                        <div class="col-md-01 col-lg-8 col-xl-8">
                                            <div class="g-recaptcha" data-sitekey="6LdLXOMiAAAAAIrk7xvnfv0xo0oyU7kmcIv4zY2Z"></div>
                                        </div>
                                        <div class ="col-md-01 col-lg-2 col-xl-2"></div>
                                    </div>
                                    <br/>
                                <div class="form-btn">
                                        <button class="submit-btn" type="submit">Időpont lefoglalása</button> 
                                </div>
                            </form>
                        </div> 
                    </div>
                </div> 
            </div>
        </div> 
    </div>
</div>
{% endblock content %}  