{% extends 'base.html' %}
{% load crispy_forms_tags %}         
<script src="https://www.google.com/recaptcha/api.js" async defer></script>

{% block content %}
<link rel="stylesheet" href="../static/style/booking.css">
<script src="https://www.google.com/recaptcha/api.js" async defer></script>
<script src="../static/js/booking.js"></script>
<script>
    var _price =[];
    {% for price_ in price %}
    {% comment %} <option value={{price_.id}}>{{price_.tittle}} {{price_.price}} Ft</option> {% endcomment %}
        var a = {id: "{{price_.id}}", tittle:"{{price_.tittle}}", price:"{{price_.price}}", barber_name:"{{price_.barber_name}}", time:"{{price_.time}}" }
        _price.push(a)
    {% endfor %}
 </script>
<form method="POST">
    {% csrf_token %}  
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
    
    <section class=" gradient-custom" style="margin-bottom: 50px;">
        <div class="container py-5">
          <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-md-01 col-lg-7 col-xl-7">
              <div class="card text-white card-dark-bg" style="border-radius: 1rem;">
                <div class="card-body p-4 text-center">
      
                  <div class="mb-md-3 mt-md-2 pb-2">
      
                    <h2 class="fw-bold mb-2 text-uppercase">Időpontfoglalás</h2>
                    <p class="text-white-70 mb-5">Kérlek add meg a szükséges adatokat!</p>
                    <div>
                      
                    </div>
                    <div class="form-outline form-white mb-4">
                      <input type="text" name="name" maxlength="150" autofocus="" required="" id="id_username" value="{% if user.is_authenticated %}{{user.last_name}} {{user.first_name}}{%else%}{{name}}{%endif%}">
                      <label class="form-label" for="typeName">Név</label>
                    </div>
                    {%comment%}
                    <div class="row">
                      <div class="form-outline form-white col-md-01 col-lg-6 col-xl-6">
                        <input type="text" name="last_name" maxlength="150" id="id_last_name">
                        <label class="form-label" for="typeName">Vezetéknév</label>
                      </div>
                      <div class="form-outline form-white col-md-01 col-lg-6 col-xl-6">
                        <input type="text" name="first_name" maxlength="150" id="id_first_name">
                        <label class="form-label" for="typeName">Keresztnév</label>
                      </div>
                    </div>
                    {%endcomment%}
                    <div class="form-outline form-white mb-4">
                      <input type="email" required="" id="id_email" value="{% if user.is_authenticated %}{{user.email}}{%else%}{{email}}{%endif%}" name="email">
                      <label class="form-label" for="typeEmailX">E-mail-cím</label>
                    </div>
      
                    <div class="form-outline form-white mb-4">
                      <input type="phone" name="phone" required="" class="booking_input">
                      <label class="form-label" for="typePasswordX">Telefonszám</label>
                    </div>
    
                    <div class="form-outline form-white mb-4">
                        {% if hairdresser_id != -1 %}
                        <script>
                            barber_id = "{{hairdresser_id}}";
                            {% if categori_id != -1 %}
                                select_category("{{categori_id}}");
                            {% endif %}
                        </script>
                        {% endif %}
                        <select class="booking_input" name="hairdresser_id" onchange="select_hairdresser(this.value)" required>
                            <option value="" hidden>Válassz fodrászt</option>
                                {% for hairdresser in hairdressers %}
                                    <option {%if hairdresser_id == hairdresser.id %}selected {% endif %} value={{hairdresser.id}}>
                                        {{hairdresser.name}}
                                    </option> 
                                {% endfor %}
                            </select>
                            <span class="select-arrow"></span> 
                            <span class="form-label">Fodrász</span> 
                    </div>
                    <div class="form-outline form-white mb-4">
                        <select class="form-control booking_input" class="" id="price_list" onchange="select_category(this.value)" name="category" required>
                            <option value="" selected hidden>Válassz egy szolgáltatást</option>
                            {% for price_ in price %}
                                {%if categori_id == price_.id %}
                                    <option selected value={{price_.id}}>
                                        {{price_.tittle}} {{price_.price}} Ft ({{price_.time}})
                                    </option> 
                                {%endif%}
                            {% endfor %}    
                            </select>
                            <span class="select-arrow"></span> 
                            <span class="form-label">Szolgáltatás</span> 
                    </div>
                    <div class="form-outline form-white mb-4">
                        {% block calendar %}
                            {% if categori_id != -1 %}
                                <div id="calendar_container" style="display: block;">
                                    {% include 'Calendar.html' %}
                                </div>
                            {% else %}
                                <div id="calendar_container">
                                    {% include 'Calendar.html' %}
                                </div>
                            {% endif %}
                        {% endblock calendar %}
                    </div>
    
                    
                    <div class="row">
                      <div class="col-md-01 col-lg-2 col-xl-2"></div>
                      <div class="col-md-01 col-lg-8 col-xl-8">
                          <div class="g-recaptcha" data-sitekey="6LdLXOMiAAAAAIrk7xvnfv0xo0oyU7kmcIv4zY2Z"></div>                      
                        </div>
                      <div class="col-md-01 col-lg-2 col-xl-2"></div>
                    </div>
                    <br>
                    <input class="form-control" id="date" name="date" type="text" placeholder="date">
                    <input class="form-control" id="time" name="time" type="text" placeholder="time">
                    <input class="btn btn-outline-light btn-lg px-5 btn_login" name="register" type="submit" value="Időpont lefoglalása">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
</form>
{% endblock content %}  