{% extends 'base.html' %}

{% block content %}
<div class="container-fluid" style="margin-top: 20px; padding-left: 10%; padding-right: 10%;">
    <div class="row">
        <div class="col-lg-3 col-md-12 mb-4 mb-lg-0 image_box">
        <img
            src="../static/image/273122601_4936073666472395_6213601130249230767_n.jpg"
            class="w-100 shadow-1-strong rounded mb-4 show-img"
            alt="Boat on Calm Water"
        />
        </div>
        <div class="col-lg-6 mb-4 mb-lg-0 align-self-center">
            {% block video %}
              {% include 'Video.html' %}
            {% endblock video %}
        </div>

        <div class="col-lg-3 mb-4 mb-lg-0 image_box">
        <img
            src="../static/image/279377784_5173587782720981_293564008741121666_n.jpg"
            class="w-100 shadow-1-strong rounded mb-4 show-img"
            alt="Mountains in the Clouds"
        />
        </div>
        <div class="col-lg-3 mb-4 mb-lg-0 image_box">
        <img
            src="../static/image/280367124_5216453758434383_7743881444130045781_n.jpg"
            class="w-100 shadow-1-strong rounded mb-4 show-img"
            alt="Waves at Sea"
        />
        </div>
        
        <div class="col-lg-3 col-md-12 mb-4 mb-lg-0 image_box">
          <img
          src="../static/image/1.jpg"
          class="w-100 shadow-1-strong rounded mb-4 show-img"
          alt="Boat on Calm Water"
          />
</div>
    <div class="col-lg-3 col-md-12 mb-4 mb-lg-0 image_box">
          <img
          src="../static/image/2.jpg"
          class="w-100 shadow-1-strong rounded mb-4 show-img"
          alt="Boat on Calm Water"
          />
      </div>
    <div class="col-lg-3 col-md-12 mb-4 mb-lg-0 image_box">
          <img
          src="../static/image/3.jpg"
          class="w-100 shadow-1-strong rounded mb-4 show-img"
          alt="Boat on Calm Water"
          />
      </div>
    <div class="col-lg-3 col-md-12 mb-4 mb-lg-0 image_box">
          <img
          src="../static/image/4.jpg"
          class="w-100 shadow-1-strong rounded mb-4 show-img"
          alt="Boat on Calm Water"
          />
      </div>
    <div class="col-lg-3 col-md-12 mb-4 mb-lg-0 image_box">
          <img
          src="../static/image/5.jpg"
          class="w-100 shadow-1-strong rounded mb-4 show-img"
          alt="Boat on Calm Water"
          />
      </div>
    <div class="col-lg-3 col-md-12 mb-4 mb-lg-0 image_box">
          <img
          src="../static/image/6.jpg"
          class="w-100 shadow-1-strong rounded mb-4 show-img"
          alt="Boat on Calm Water"
          />
      </div>
    <div class="col-lg-3 col-md-12 mb-4 mb-lg-0 image_box">
          <img
          src="../static/image/7.jpg"
          class="w-100 shadow-1-strong rounded mb-4 show-img"
          alt="Boat on Calm Water"
          />
      </div>
    <div class="col-lg-3 col-md-12 mb-4 mb-lg-0 image_box">
          <img
          src="../static/image/8.jpg"
          class="w-100 shadow-1-strong rounded mb-4 show-img"
          alt="Boat on Calm Water"
          />
      </div>
    <div class="col-lg-3 col-md-12 mb-4 mb-lg-0 image_box">
          <img
          src="../static/image/9.jpg"
          class="w-100 shadow-1-strong rounded mb-4 show-img"
          alt="Boat on Calm Water"
          />
      </div>
    <div class="col-lg-3 col-md-12 mb-4 mb-lg-0 image_box">
          <img
          src="../static/image/10.jpg"
          class="w-100 shadow-1-strong rounded mb-4 show-img"
          alt="Boat on Calm Water"
          />
      </div>
    <div class="col-lg-3 col-md-12 mb-4 mb-lg-0 image_box">
          <img
          src="../static/image/11.jpg"
          class="w-100 shadow-1-strong rounded mb-4 show-img"
          alt="Boat on Calm Water"
          />
      </div>
    <div class="col-lg-3 col-md-12 mb-4 mb-lg-0 image_box">
          <img
          src="../static/image/12.jpg"
          class="w-100 shadow-1-strong rounded mb-4 show-img"
          alt="Boat on Calm Water"
          />
      </div>
    <div class="col-lg-3 col-md-12 mb-4 mb-lg-0 image_box">
          <img
          src="../static/image/13.jpg"
          class="w-100 shadow-1-strong rounded mb-4 show-img"
          alt="Boat on Calm Water"
          />
      </div>
    <div class="col-lg-3 col-md-12 mb-4 mb-lg-0 image_box">
          <img
          src="../static/image/14.jpg"
          class="w-100 shadow-1-strong rounded mb-4 show-img"
          alt="Boat on Calm Water"
          />
      </div>
      <div class="col-lg-3 col-md-12 mb-4 mb-lg-0 image_box">
          <img
          src="../static/image/15.jpg"
          class="w-100 shadow-1-strong rounded mb-4 show-img"
          alt="Boat on Calm Water"
          />
      </div>
      <div class="col-lg-3 col-md-12 mb-4 mb-lg-0 image_box">
          <img
          src="../static/image/16.jpg"
          class="w-100 shadow-1-strong rounded mb-4 show-img"
          alt="Boat on Calm Water"
          />
      </div>
    </div>
</div>
<div id="my-modal" class="modal fade" aria-labelledby="my-modalLabel" aria-hidden="true" tabindex="-1" role="dialog">
    <div class="modal-dialog" data-dismiss="modal">
        <div class="modal-content"  >              
            <div class="modal-body">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <img src="" class="gallery" style="width: 100%;">
            </div> 
        </div>
    </div>
</div>

<script type="text/javascript">
    $(".show-img").click(function(){
        $('.gallery').attr('src', $(this).attr('src'));
        $('#my-modal').modal('show');
    });
    </script>
{% endblock content %}  