{% load static %}
<nav class="navbar navbar-expand-lg navbar-dark">
    <a class="navbar-brand" href="{% url 'Home' %}">
        <img src="../../../static/image/logo_white.png" width="50" height="50" alt="">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item {% if actual_page == 'home'%} active {% endif %}">
          <a class="nav-link nav_text" href="{% url 'Home' %}">Kezdőlap <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item {% if actual_page == 'booking'%} active {% endif %}">
          <a class="nav-link nav_text" href="{% url 'Booking' %}">Időpontfoglalás</a>
        </li>
        <li class="nav-item {% if actual_page == 'gallery'%} active {% endif %}">
          <a class="nav-link nav_text" href="{% url 'Gallery' %}">Galéria</a>
        </li>
        <li class="nav-item dropdown {% if actual_page == 'price'%} active {% endif %}">
          <a class="nav-link dropdown-toggle nav_text" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Árlista
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" href="{% url 'Price_man' %}">Férfi</a>
            <a class="dropdown-item" href="{% url 'Price_women' %}">Női</a>
            <a class="dropdown-item" href="{% url 'Price_examination' %}">Vizsgálatok</a>
            <a class="dropdown-item" href="{% url 'Price' %}">Összes</a>
          </div>
        </li>
      </ul>
      {% if user.is_authenticated %}
        <ul class="nav navbar-nav my-2 my-lg-0" style="margin-left: auto;">
          <li class="nav-item">
              <a class="nav-link glyphicon glyphicon-user nav_text" href="{% url 'Logout' %}">Kijelentkezés</a>
          </li>
          <li class="nav-item">
              <a class="nav-link glyphicon glyphicon-user nav_text" href="#">{{user.username}}</a>
          </li>
        </ul>
      {% else %}
        <ul class="nav navbar-nav my-2 my-lg-0" style="margin-left: auto;">
          <li class="nav-item {% if actual_page == 'login'%} active {% endif %}">
              <a class="nav-link glyphicon glyphicon-user nav_text" href="{% url 'Login' %}">Bejelenkezés</a>
          </li>
          <li class="nav-item {% if actual_page == 'registration'%} active {% endif %}">
            <a class="nav-link glyphicon glyphicon-user nav_text" href="{% url 'Registration' %}">Regisztráció</a>
          </li>
        </ul>
      {% endif %}
    </div>
  </nav>


