<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="../static/style/gallery.css">
</head>
<body>
	<!-- Galéria képek -->
	<div class="gallery">
		<img src="../static/image/gallery/1.jpg" onclick="openModal(this)" />
		<img src="../static/image/gallery/2.jpg" onclick="openModal(this)" />
		<img src="../static/image/gallery/3.jpg" onclick="openModal(this)" />
		<img src="../static/image/gallery/4.jpg" onclick="openModal(this)" />
		<img src="../static/image/gallery/5.jpg" onclick="openModal(this)" />
		<img src="../static/image/gallery/6.jpg" onclick="openModal(this)" />
	</div>

	<!-- Modális ablak -->
	<div id="myModal" class="modal">
		<div class="modal-content">
			<span class="close" onclick="closeModal()">&times;</span>
			<img id="modal-image" src="" />
			<div class="prev" onclick="changeImage(-1)">&#10094;</div>
			<div class="next" onclick="changeImage(1)">&#10095;</div>
		</div>
	</div>

  <script src="../static/js/gallery.js"></script>
</body>
</html>